<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem" class="current">Instances</li>
</nav>

<div class="row">
  <div class="small-7 columns no-padding">
    <input type="text" ng-model="filter" placeholder="Filter">
  </div>
  <div class="small-2 columns no-padding">
    <a class="button small postfix" ng-click="clearFilter()">Clear</a>
  </div>
  <div class="small-3 columns no-padding-right">
    <a class="button small success postfix" href='#/compute/launch_instance'>Launch Instance</a>
  </div>
</div>

<table>
  <tr>
    <th>UUID</th>
    <th>Name</th>
  </tr>
  <tr ng-repeat="n in instances | filter:filter" >
    <td>{{ n.uuid }}</td>
    <td>{{ n.name }}</td>
    <td><a ng-click="deleteInstance($index)">Delete</a></td>
  </tr>
</table>

